html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
}

aside {
  padding: 1rem;
  width: 30%;
  max-width: 300px;

  .project-item {
    display: flex;
    cursor: pointer;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #eee;
    border-radius: 12px;

    &.active {
      background-color: burlywood;
    }

    &:not(.active) {
      span {
        pointer-events: none;
      }
    }

    input {
      width: 100%;
    }

    .hide {
      display: none;
    }
  }
}

#content {
  width: 70%;
  padding: 1rem 2rem;

  .todo-item {
    padding: 1.5rem 1rem 1.5rem 0;
    border-bottom: 1px solid #e0e0e0;

    .checkmark-container {
      display: inline;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 22px;
      user-select: none;

      /* Hide the browser's default radio button */
      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }

      /* Create a custom radio button */
      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #fff;
        border-radius: 50%;
        border: 2px solid #bbb;
      }

      /* On mouse-over, add a grey background color */
      &:hover input ~ .checkmark {
        background-color: #bbb;
      }

      /* When the radio button is checked, add a blue background */
      input:checked ~ .checkmark {
        background-color: #fff;
      }

      /* Create the indicator (the dot/circle - hidden when not checked) */
      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }

      /* Show the indicator (dot/circle) when checked */
      input:checked ~ .checkmark:after {
        display: block;
      }

      /* Style the indicator (dot/circle) */
      .checkmark:after {
        top: 3px;
        left: 3px;
        width: 75%;
        height: 75%;
        border-radius: 50%;
        background: #2196f3;
      }
    }
  }
}
