@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  font-family: "Inter", sans-serif;
}

aside {
  display: flex;
  flex-direction: column;
  padding: 2.2rem 1rem;
  width: 30%;
  max-width: 300px;
  gap: 1.7rem;

  .add-project {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    height: 46px;
    margin: 0 0.5rem;
    padding: 0.7rem 1rem 0.7rem 0.5rem;
    border: 1px solid #d5d9d9;
    background-color: #fff;
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    border-radius: 12px;
    cursor: pointer;

    &:hover {
      background-color: #f8f8f8;
    }

    span {
      padding-bottom: 0.4rem;
      font-weight: 400;
      font-size: 2rem;
      line-height: 0;
      color: dodgerblue;
    }
  }

  .project-item {
    display: flex;
    cursor: pointer;
    height: 30px;
    margin: 0.5rem;
    padding: 0.5rem 0.7rem;
    background-color: #eee;
    border-radius: 12px;

    &.active {
      background-color: burlywood;
    }

    &:not(.active) {
      span {
        pointer-events: none;
      }
    }

    span {
      height: 26px;
      margin: 0.4rem 0.3rem 0.3rem;
      letter-spacing: 0.1px;
    }

    input {
      width: 100%;
      height: 26px;
      font-size: 0.99rem;
      letter-spacing: 0.15px;
      margin: 0.04rem 0.1rem 0.22rem 0.07rem;
    }

    span,
    input {
      vertical-align: middle;
      line-height: 120%;
      font-family: "Inter";
    }

    .hide {
      display: none;
    }
  }
}

#content {
  width: 70%;
  max-width: 1200px;
  padding: 1rem 2rem;

  .title-container {
    display: flex;
    gap: 2rem;
    justify-content: space-between;

    .add-todo-item {
      display: flex;
      align-items: center;
      gap: 0.7rem;
      align-self: center;
      padding: 0.7rem 1rem 0.7rem 0.5rem;
      border: 1px solid #d5d9d9;
      background-color: #fff;
      font-size: 0.9rem;
      font-family: "Inter", sans-serif;
      font-weight: 500;
      border-radius: 7px;
      box-shadow: 0 2px 5px 0 rgba(213, 217, 217, 0.5);
      cursor: pointer;

      &:hover {
        background-color: #f9f9f9;
      }

      span {
        padding-bottom: 0.4rem;
        font-weight: 400;
        font-size: 2rem;
        line-height: 0;
        color: dodgerblue;
      }
    }
  }

  .todo-item {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 1rem 1.2rem 0;
    border-bottom: 1px solid #e0e0e0;

    &__name {
      width: 80%;
      margin-right: auto;

      &:focus-visible {
        outline: 0;
      }
    }

    [class*="datepicker-"] {
      width: 118px;
      cursor: pointer;
      border: 0;
      font-size: 1rem;
      text-align: right;

      &::placeholder {
        color: #000;
      }

      &:focus-visible {
        outline: 0;
      }
    }

    .checkmark-container {
      display: inline;
      position: relative;
      height: 27px;
      padding-left: 35px;
      cursor: pointer;
      font-size: 22px;
      user-select: none;

      /* Hide the browser's default radio button */
      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }

      /* Create a custom radio button */
      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 22px;
        width: 22px;
        background-color: #fff;
        border-radius: 50%;
        border: 2px solid #999;
      }

      /* On mouse-over, add a grey background color */
      &:hover input ~ .checkmark {
        background-color: #eee;
      }

      /* When the radio button is checked, add a blue background */
      input:checked ~ .checkmark {
        background-color: #fff;
      }

      /* Create the indicator (the dot/circle - hidden when not checked) */
      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }

      /* Show the indicator (dot/circle) when checked */
      input:checked ~ .checkmark:after {
        display: block;
      }

      /* Style the indicator (dot/circle) */
      .checkmark:after {
        top: 3px;
        left: 3px;
        width: 75%;
        height: 75%;
        border-radius: 50%;
        background: #2196f3;
      }
    }

    &.checked {
      .checkmark:after {
        content: "";
        position: absolute;
        display: block;
      }
    }
  }
}
